<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ol>
      <li{% if page.url == '/index.html' %} class="active"{% endif %}>
        <a href="./index.html">Instructions</a>
      </li>
      <li{% if page.url == '/part1.html' %} class="active"{% endif %}>
        <a href="./part1.html">Part 1</a>
      </li>
      <li{% if page.url == '/part2.html' %} class="active"{% endif %}>
        <a href="./part2.html">Part 2</a>
      </li>
      <li{% if page.url == '/code-coverage.html' %} class="active"{% endif %}>
        <a href="./code-coverage.html">Code Coverage</a>
      </li>
    </ol>
  </nav>
</footer>
